body {
    background: url('../img/back.jpg');
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

.content {
    text-align: center; /* Center align content */
}

.create-room-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block; /* Remove default button width */
}

.create-room-btn:hover {
    background-color: #45a049;
}

/* Remove anchor tag styling */
a {
    text-decoration: none;
    color: inherit;
}
